1. MultiLevel Parking Lot
2. Multiple catrgory of parking space
3. Multiple entry and exits (Adds an interesting case of concurrency)
4. should not allow more vehicle than alloted category
5. charging strategy
6. Virtual view of available parking slots for each category

# 1. Multiple floors to park car
# 2. Entry and Exit points
# 3. Parking attendance at entry and exit points
# 4. Ramp to drive car to different floors
# 5. Use of elevator to go to different floors
# 6. Token system to park car
# 7. Payment gateway at exit points
# 8. Parking facility for different types of vehicle
# 9. Virtual view of available parking slots